table {
table-layout: fixed;
width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
content: ' ';
display: block;
visibility: hidden;
clear: both;
}

thead th {
height: 40px;
width: 100%;
/*text-align: left;*/
}

tbody {
height: 400px;
overflow-y: auto;
}

thead {
/* fallback */
}

tbody td, thead th {
width: 33.333%;
float: left;
}

.table-container {
    height: 80%;
    border: black;
    border-style: solid;
    border-width: 2px;
}

.tableButton {
color:white;
width: 100px;
background-color: #7F09F4;
font-size: 12px;
margin-right: 10px;
margin-left: 10px;
}

.createButton {
color:white;
width: 120px;
height: 40px;
background-color: #7F09F4;
font-size: 18px;
}

.backButton {
color:white;
width: 100px;
height: 33px;
background-color: #7F09F4;
font-size: 16px;
}


.jobs-container-head-grid {
    display: grid;
    margin-top: 15px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid gray;
}

.jobs-grid-item-left {
    justify-self: start;
    grid-column: 1 / 2;
}

.jobs-grid-item-center {
    justify-self: center;
    grid-column: 2 / 3;
}

.jobs-grid-item-right {
    justify-self: end;
    grid-column: 3 / 4;
}

.pageBody {
    padding: 20px;
}

